


{% extends 'base_generic.html' %}
{% block content %}
{% load static %}
{% load bootstrap5%}

<body>
<div class="container mt-5">
   <h2>Contacta con nosotros</h2>

   


   <p class "texto">Nos pondremos en contacto contigo dentro de 10 días habiles</p>

</div>

    <div class="container-fluid text-center text-white derechos ">
     
  
      <h6>© Copyright 2024 - Todos los derechos ultra mega súper recontra reservados.</h6>
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">

    </div> 

{% endblock %}



</body>